@model BibliotecaWebApplicationMvc.Models.ViewModels.RoleViewModel

<h2>Editar Rol</h2>

<form asp-action="Edit" asp-controller="Roles" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Name" class="form-label">Role Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">
        <i class="bi bi-save"></i> Save Changes
    </button>
</form>
